*:focus {
    outline: none;
}

html, body {
    font-family: Calibri;
    height: 99%;
    width: 99%;
    user-select: none;
    font-size: 18px;
    background: #3c3f41;
    color: #bbbbbb;
}

a {
    color: #2196F3;
}

button {
    font-size: 16px;
    opacity: 65%;
    border-radius: 1px;
    background: #2b2b2b;
    border: none;
    color: #aaaaaa;
    padding: 2px 8px;
}

button:hover {
    opacity: 100%;
}

button:active {
    background: #0b9180;
}

.active {
    opacity: 100%;
    background: #167280;
}

.buttonContainer {
    box-sizing: border-box;
    display: inline-block;
}