*:focus {
    outline: none;
}

html, body {
    font-family: "Cascadia Code";
    height: 99%;
    width: 99%;
    user-select: none;
    font-size: 18px;
    background: #3c3f41;
    color: #bbbbbb;
}

table {
    text-align: left;
}

table, th, td {
    border: 1px solid #2196F3;
}

tr {
    border: 1px solid brown;
}

tr.adminP {
    background: #536015
}

td.center {
    text-align: center;
}

h3 {
    font-weight: normal;
    color: #7bc3a2;
}

h5 {
    font-weight: normal;
    color: gold;
}

h4 {
    color: cadetblue;
}

a {
    color: #2196F3;
}

hr.alt {
    background-color: #bfa6e7;
    width: 75%;
    height: 1px;
    border: none
}

hr.altalt {
    background-color: #7ac5ff;
    width: 50%;
    height: 1px;
    border: none
}

button {
    font-size: 16px;
    opacity: 65%;
    border-radius: 1px;
    background: #2b2b2b;
    border: none;
    color: #aaaaaa;
    padding: 2px 8px;
}

button:hover {
    opacity: 100%;
}

button:active {
    background: #0b9180;
}

.active {
    opacity: 100%;
    background: #167280;
}

.buttonContainer {
    box-sizing: border-box;
    display: inline-block;
}